# DFNS API Configuration
DFNS_API_URL='https://api.dfns.io'
DFNS_ORG_ID=''
DFNS_CRED_ID=''
DFNS_PRIVATE_KEY=''
DFNS_AUTH_TOKEN=''

# Demo Wallet Configuration
DFNS_CUSTOMER_WALLET_ID=''
DFNS_MERCHANT_WALLET_ID=''

# On-Chain Configuration
MERCHANT_ADDRESS=''
USDC_CONTRACT_ADDRESS=''
CHAIN_ID=11155111
